.card {
    display: flex;
    margin: 2rem;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    background-color: whitesmoke;
  }

.login-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    padding-bottom: 10%;
    border-radius: 4px;
  }

  .login-signup h1 {
    background-color: darkred;
  }

  .login-signup form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }